# Student Analsis


In this notebook I present to you data taken out of a real highschool. In this dataset we have a total of 16 variables and a single class. Most of the data is categorical, this means it is divided into a certain ammount of pre-defined categories. There also a few columns that have numerical data in the form of integers. In this notebook we will try to extract some key features in order to better understand the dataset and as part of the field of 'Data Analysis'.

## Step 0: 
### Load the data into a pandas dataframe

How do you intend to do data analysis without loading the data????
# ?

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
df = pd.read_csv("./xAPI-Edu-Data.csv")
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

## Step 1: 
### Print some elements from the dataset in order to take a quick look at the dataset

Understanding the data you are working with is very important

In [27]:
# Print 10 e random elements from the dataset.
df.sample(n=10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
359,F,lebanon,lebanon,lowerlevel,G-02,B,French,S,Mum,75,90,51,17,Yes,Good,Under-7,H
408,M,Jordan,Jordan,MiddleSchool,G-07,B,Biology,F,Father,50,79,10,31,No,Bad,Under-7,M
345,F,Jordan,Jordan,lowerlevel,G-02,B,French,F,Mum,13,82,20,30,No,Good,Under-7,H
295,M,Iraq,Iraq,lowerlevel,G-04,A,Science,S,Father,62,64,72,84,Yes,Good,Above-7,M
99,M,KW,KuwaIT,lowerlevel,G-02,B,IT,F,Father,50,7,9,50,Yes,Bad,Above-7,M
161,M,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,Mum,72,80,58,66,No,Bad,Under-7,M
41,M,KW,KuwaIT,MiddleSchool,G-07,A,IT,F,Father,19,20,16,50,No,Good,Under-7,M
233,F,Jordan,Jordan,MiddleSchool,G-07,B,Science,S,Mum,32,80,58,46,Yes,Good,Above-7,M
304,F,Jordan,Jordan,lowerlevel,G-04,B,Science,F,Father,15,50,24,43,Yes,Bad,Under-7,M
327,M,Jordan,Jordan,lowerlevel,G-02,A,French,S,Father,30,10,20,5,No,Bad,Above-7,L

## Step 2:
### Check for missing or null values

We should always check for missing values as part of getting familiarized with our data.

In [30]:
# check for null values
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

## Step 3:
### which is the column with the highest ammount of VARIABILITY?

Time to start extracting info.

In [49]:
# Check every column EXCEPT the one for the class and find out which one has the highest variability
sigma = 0
df.std()**2

raisedhands           947.360543
VisITedResources     1094.286843
AnnouncementsView     708.158312
Discussion            763.844398
dtype: float64

## Step 4:
### Find out for each variable their skewness and plot 5 of them.

Understanding the biases of data can always give us some key information

In [55]:
# Select 5 columns and find out their bias
df.skew(1)

0     -1.528554
1     -1.627726
2      1.359052
3     -1.443059
4     -1.623178
         ...
475    1.539601
476    0.544613
477    0.527793
478    1.337822
479    1.071352
Length: 480, dtype: float64

## Step 5:
### Find out for all the variables which is their correlation with the class

Sometimes we need to reduce the ammount of features we feed the model in order to make it more lighweight, so we either select the best ones or take out the most useless ones.

In [ ]:
# Select the top 4 most correlated and put them in a different dataset

In [ ]:
# Select the top 4 least correlated and create a new dataset without them

## Step 6:
### Visualize the correlation between the previously selected 4 most correlated variables with the class

Lets see if those are correlated too.

In [ ]:
# Plot the correlation among themself for the previous 4 variables.

## Step 7:
### For the previoys 4 variables plot them AGAINST the class

In [3]:
# make 4 plot where you plot each of the variables with the class

## Step 8:
### Probability time, if I know a student had less than 7 absent days what is the probability of him being classified as L

In [ ]:
# compute the probability

## Step 8:
### Probability time, if I know a student had less than 7 absent days what is the probability of him being classified as m or higher, using the previous calculation

In [ ]:
# Looking at step seven extrapolate from it the probability of a student being classified as M or H

## Step 9:
### Probability time, knowing a student was classified as H, what is the probability of him having raised the hand more than 10 times

In [ ]:
# Bayes time

## Step 10:
### Free time, if I was the principal of the school what plots and probabilities would you show me to help me accept only M and H students.